<div class="container">
  <div class="row">    
    <div class="deal-card">
        <img src="{{ url_for('static', filename='assets/images/country-02.jpg') }}" alt="George Town" class="deal-image">
        <div class="deal-content">
            <h5>George Town 
                <span class="price">
                    <i class="fa-solid fa-star" style="color: #f6ce3e;"></i>
                    4.2
                </span>
            </h5>
            <div class="features">
                <p>United States, America</p>
            </div>
            <div class="tag-content">
                <button class="tag">Swimming</button>
                <button class="tag">Hiking</button>
                <button class="tag">Museums</button>
                <button class="tag">Nightlife</button>
            </div>
        </div>
        <div class="add-button-div">
            <i class="fa-solid fa-plus fa-xl" style="color: #447524;"></i>
        </div>
    </div>

    <div class="deal-card">
        <img src="{{ url_for('static', filename='assets/images/country-01.jpg') }}" alt="George Town" class="deal-image">
        <div class="deal-content">
            <h5>Yahalas Valley 
                <span class="price">
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    4.7
                </span>
            </h5>
            <div class="features">
                <p>United States, America</p>
            </div>
            <div class="tag-content">
                <button class="tag">Rafting</button>
                <button class="tag">Swimming</button>
                <button class="tag">Beaches</button>
                <button class="tag">Vacation</button>
                <button class="tag">Hiking</button>
            </div>
        </div>
        <div class="add-button-div">
            <i class="fa-solid fa-plus fa-xl" style="color: #447524;"></i>
        </div>
    </div>

    <div class="deal-card">
        <img src="{{ url_for('static', filename='assets/images/country-03.jpg') }}" alt="George Town" class="deal-image">
        <div class="deal-content">
            <h5>Niagra Falls 
                <span class="price">
                    <i class="fa-solid fa-star" style="color: #f6ce3e;"></i>
                    4.7
                </span>
            </h5>
            <div class="features">
                <p>United States, America</p>
            </div>
            <div class="tag-content">
                <button class="tag">Skiing</button>
                <button class="tag">Hiking</button>
                <button class="tag">Skiing</button>
                <button class="tag">Hiking</button>
                <button class="tag">Hiking</button>
            </div>
        </div>
        <div class="add-button-div">
            <i class="fa-solid fa-plus fa-xl" style="color: #447524;"></i>
        </div>
    </div>

  </div>
</div>
